$card-height = 300px
$card-width = 200px
$card-border-width = 20px

$hand-x = 0
$hand-y = $card-height
$card-in-hand-z-index = 10
$card-in-hand-margin = 10px

#card
  display: none

.card
  width: 200px
  height: 260px
  position: relative
  perspective: 800px

  /* STATES of the CARD */
  &.is-facedown .card-inner
    transform: rotateY(180deg)

  &.is-in-hand
    position: absolute
    left: 50%
    bottom: $card-in-hand-margin
    margin-left: ($card-width / -2)

.card-inner
  width: 100%
  height: 100%
  position: absolute
  transform-style: preserve-3d
  transition: transform 1s

  line-height: 260px
  color: $white
  font-size: 80px

.card-side
  display: block
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden
  border-radius: 15px

.card-front
  background: url(/img/linen.png)
  background-size: cover
  text-shadow: 1px 1px 0 rgba($gray-dark, .5)

.card-back
  background: url(/img/card-back.jpg)
  transform: rotateY(180deg)

.card-0 .card-front
  background-image: url(/img/cards/card-0.jpg)

.card-1 .card-front
  background-image: url(/img/cards/card-1.jpg)

.card-2 .card-front
  background-image: url(/img/cards/card-2.jpg)

.card-3 .card-front
  background-image: url(/img/cards/card-3.jpg)

.card-4 .card-front
  background-image: url(/img/cards/card-4.jpg)

.card-5 .card-front
  background-image: url(/img/cards/card-5.jpg)

.card-6 .card-front
  background-image: url(/img/cards/card-6.jpg)

.card-7 .card-front
  background-image: url(/img/cards/card-7.jpg)

.card-8 .card-front
  background-image: url(/img/cards/card-8.jpg)

.card-9 .card-front
  background-image: url(/img/cards/card-9.jpg)