$hand-item-z-index = 10

.hand
  list-style: none
  margin-left: 0

.hand-item
  display: inline-block
  margin: 0

  &:nth-child(1)
    transform: rotate(-10deg) translate(50px, 15px)
    z-index: $hand-item-z-index + 0

  &:nth-child(2)
    z-index: $hand-item-z-index + 1

  &:nth-child(3)
    transform: rotate(10deg) translate(-50px, 15px)
    z-index: $hand-item-z-index + 2

