extends layouts/index

block content
  ul.hand
    li.hand-item
      .card.card-1
        .card-inner
          .card-side.card-front
          .card-side.card-back
    li.hand-item
      .card.card-2
        .card-inner
          .card-side.card-front
          .card-side.card-back
    li.hand-item
      .card.card-3
        .card-inner
          .card-side.card-front
          .card-side.card-back