extends layouts/index

block content
  ul.hand
    li.hand-item
      .container
        .card
          figure.front 1
          figure.back 2


    //li.hand-item
    //  .card
    //    .card-back
    //      .card-back-inner
    //    .card-front
    //li.hand-item
    //  .card
    //    .card-back
    //      .card-back-inner
    //    .card-front
    //li.hand-item
    //  .card
    //    .card-back
    //      .card-back-inner
    //    .card-front
    //li.hand-item
    //  .card
    //    .card-back
    //      .card-back-inner
    //    .card-front
